# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore .DS_Store files created by macOS
.DS_Store

# Ignore any files with .bkp extension
*.bkp

# Ignore .idea folder (used by JetBrains IDEs)
.idea/

# Ignore cmake-build-debug
/cmake-build-debug/
